<footer class="footer has-background-grey-darker has-text-white">
    <div class="content has-text-centered">
        <p>
            <span class="icon is-large"><a href="https://twitter.com/SpeechFreedomCN" class="mysocial"><i
                        class="fab fa-twitter fa-3x"></i></a></span>&nbsp;&nbsp;
            <span class="icon is-large"><a href="https://github.com/speechfree" class="mysocial"><i
                        class="fab fa-github fa-3x"></i></a></span>&nbsp;&nbsp;

            <br><br>
            <br><br>
            Copyright &copy; {{ .Site.Title }} {{ now.Format "2006"}}
        </p>
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</body>

</html>