{{ define "main" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Section" "post").ByWeight }}

<div class="columns">
    <div class="column is-12">
        <div class="tile is-child box">
            <div class="content">
                <h3>中国文化大革命文库 The Chinese Cultural Revolution Database</h3>
                <hr>
                {{ range $paginator.Pages }}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-4"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></p>
                            <p class="subtitle is-size-6 has-text-grey-light">
                                Published at {{ .Date.Format "January 2, 2006" }} &middot;
                                <i class="far fa-clock"></i>&nbsp;{{.ReadingTime}} min read
                            </p>
                            <p>{{ .Summary | truncate 120 }}...</p>
                        </div>
                    </div>
                </article>
                {{ end }}
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column is-9">
        <nav class="pagination is-centered is-rounded" role="navigation" aria-label="pagination">
            {{ if $paginator.HasPrev }}<a class="pagination-previous"
                href="{{ $paginator.Prev.URL }}">Previous</a>{{ end }}
            {{ if $paginator.HasNext }}<a class="pagination-next" href="{{ $paginator.Next.URL }}">Next</a>{{ end }}
            <ul class="pagination-list">
                {{ range $paginator.Pagers }}
                <li class="pagination__item">
                    <a class="pagination-link{{ if eq . $paginator }} is-current{{ end }}"
                        aria-label="Goto page {{ .PageNumber }}" href="{{ .URL }}">{{ .PageNumber }}</a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</div>

{{ end }}